
.icon-chart-line:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-mouse:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-mobile:before { content: '\e805'; } /* '' */
.icon-arrows-ccw:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */