/*
Color Pallette for theme: 

Darkest Blue: 	#2B4061;
Darker Blue: 	#30486D;
Dark Blue: 		#116094;
Blue:			#3294D6;
Grey:			#A9B1BE;
Darker Grey:	#ECF0F1;
White:			#FFFFFF;
Green:			#95C718;
*/

/* Some Universal Classes */

.margin-none {
	margin: initial !important;
}
.top-margin-50 {
	margin-top: 50px;
}

.font-size-75 {
	font-size:75px;
    line-height: normal;
}
.font-size-45 {
	font-size: 45px;
	    line-height: normal;
}
.font-size-35 {
	font-size: 35px;
	    line-height: normal;
}

/* SECTION COLORS */

.white-bg {
	background-color: white;
	color: #263339;
	padding: 40px 0;
}
.light-blue-bg {
	background-color: #5ec0fd;
	color: white;
	padding: 40px 0;
}
.green-bg {
	background-color: #84d26d;
	color: white;
	padding: 40px 0;
}
.light-bg .green-btn {
	width: auto;
    font-size: 45px;
    font-weight: 200;
    padding: 8px 40px;
    height: auto;
    margin-top: 20px;
}
.light-bg p{
	font-size: 20px;
	font-weight: 200;
}
.dark-bg {
	background-color: #202020;
	padding: 40px 0;
}
.dark-bg p,.dark-bg h1,.dark-bg h2{
	color: white;
}
.dark-bg li{
	color: #ffffff;
	font-family: 'Comfortaa', cursive;
	font-weight: 100;
}
.light-bg {
	background-color: #f7f9fa;
}

/* Typography Classes */

p.introduction-wrapper {	
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 3px;
	text-align: justify;
}

.center-slim {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
}
.small-slim {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 2px;
}
.normal-text-desc p {
	margin: 100px auto;
	font-size: 17px;
	letter-spacing: 2px;
	font-weight: 400;
	text-align: center;

}
.special-words-green {
	color: #537d3e;
}
.orange-link-text {
	color: rgb(255, 174, 0);
}

/* Icon Classes */

.big-category-icons .big-category-icon {
	display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: rgba(0,0,0,0.1);
    color: #fff;
    text-align: center;
    font-size: 4em;
    line-height: 1.9em;
    margin: 32px auto;
}

.big-category-icons p {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.icon-course-type {
	font-size: 75px;
	/*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.95);*/
}

/* Other Classes */

.video-caption {
	letter-spacing: 2px;
	margin: 15px auto;
}
.how-web-icon {
	font-size: 54px;
	margin-top: 24px;
}

/* Media Querries */

@media (max-width: 1280px) {
	.custom-container-width {
		max-width: 1150px;
	}
	.font-size-75 {
		font-size: 65px;
	}
	.font-size-45 {
		font-size: 35px;
	}
	.font-size-35 {
		font-size: 25px;
	}
	.white-bg, .light-blue-bg, .dark-bg, .green-bg {
		padding: 50px 0;
	}
}

@media (max-width: 768px) {
	.font-size-75 {
		font-size: 55px;
	}
	.font-size-45 {
		font-size: 35px;
	}
	.font-size-35 {
		font-size: 25px;
	}
	.white-bg, .light-blue-bg, .dark-bg, .green-bg {
		padding: 25px 0;
	}
	.top-margin-50 {
		margin-top: 25px;
	}
	h1.font-size-45, h1.font-size-75 {
		height: initial !important;
		line-height: initial !important;
	}
	h2.special-heading {
		font-size: 25px;
	}
	h2.center-slim {
		padding: 0 10px;
	}
	p.text-center {
		margin: 10px auto;
	}
}

@media (max-width: 455px) {
	.font-size-75 {
		font-size: 40px;
	}
	.font-size-45 {
		font-size: 30px;
	}
	.font-size-35 {
		font-size: 25px;
	}
	.white-bg, .blue-bg, .light-blue-bg, .dark-bg, .green-bg {
		padding: 25px 0;
	}
	.top-margin-50 {
		margin-top: 25px;
	}
	.center-slim {
		font-size: 19px;
	}
	p.introduction-wrapper {
		font-size: 20px;
	}
}

@media (max-width: 400px) {
	.font-size-75 {
		font-size: 37px;
	}
	.font-size-45 {
		font-size: 28px;
	}
	.font-size-35 {
		font-size: 22px;
	}
	.white-bg, .blue-bg, .light-blue-bg, .dark-bg, .green-bg {
		padding: 22px 0;
	}
	.top-margin-50 {
		margin-top: 20px;
	}
	p.introduction-wrapper {
		font-size: 18px;
	}
	.big-category-icons p {
		font-size: 9px;
		letter-spacing: 2px;
	}
}

/* Addon-Fixes Dec 2015 */
.blue-bg h1, 
.blue-bg p,
.dark-bg h1,
.dark-bg p,
.light-blue-bg h1,
.light-blue-bg p,
.green-bg h1,
.green-bg p {
	color: white;
}
.how-it-works-page h1,
.how-it-works-page h2,
.how-it-works-page p {
	margin: 25px auto;
}
.delay-02 {
	-webkit-animation-delay: 	.2s; 	/* Chrome, Safari, Opera */
    animation-delay: 			.2s;	
}
.delay-04 {
	-webkit-animation-delay: 	.4s; 	/* Chrome, Safari, Opera */
    animation-delay: 			.4s;
}
.delay-06 {
	-webkit-animation-delay: 	.6s; 	/* Chrome, Safari, Opera */
    animation-delay: 			.6s;
}
.delay-08 {
	-webkit-animation-delay: 	.8s; 	/* Chrome, Safari, Opera */
    animation-delay: 			.8s;
}
.delay-010 {
	-webkit-animation-delay: 	1s; 	/* Chrome, Safari, Opera */
    animation-delay: 			1s;
}
.delay-012 {
	-webkit-animation-delay: 	1.2s; 	/* Chrome, Safari, Opera */
    animation-delay: 			1.2s;
}

.viewport-checker {
	animation-duration: .4s;
	-webkit-animation-duration: .4s;
}

.hidden {
	opacity: 0;
}
.visible {
	opacity: 1;
}